ion-toggle {
    --background: #000;
    --background-checked: #7a49a5;
  
    --handle-background: #7a49a5;
    --handle-background-checked: #fff url(../assets/icon.png) no-repeat center / contain;
  }